.calendar-container {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  width: 95%;
  padding: 10px;
}
.calendar-container h1 {
  text-align: center;
  color: #8b288f;
}

.days-container {
  background-color: #8b288f;
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: repeat(6, 10vh);
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 7px;
  padding: 10px;
}

.item {
  font-size: 1.2rem;
  color: black;
}

.date {
  padding-top: 7px;
  padding-left: 7px;
  margin-bottom: 14px;
}

.item-light:hover {
  background-color: #f8f6f6;
  cursor: pointer;
}

.item-light {
  background-color: #d3d3d3;
  transition: background-color 0.3s;
}

.item-dark {
  background-color: #9e3fa1;
}

.btn-prev,
.btn-next {
  outline: none;
  border: none;
  font-size: 30px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.header {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.event {
  font-size: small;
  background-color: rgba(88, 40, 143, 0.5);
  margin-bottom: 5px;
}
